.git
.gitignore
.gitattributes

.idea
.vscode
*.iml
.classpath
.project
.settings
.apt_generated
.factorypath
.springBeans
.sts4-cache

target
src/test

Dockerfile
.dockerignore
docker-compose.yml
.env
mvnw.cmd

*.md
HELP.md
